doctype html
html(lang="en")
    include include/_head
    body
        include include/_header
        main
            p #[span#itemCount (Loading)] items in progress
            .flex-row
                input#itemInput(placeholder="New task...", maxlength="100")
                button#addItemBtn Add
            p#infoText
            #todoList
        include include/_footer
