header
    nav
        h2 Select User:
        ul
            li
                button.user(data-username="user1") User 1
            li
                button.user(data-username="user2") User 2
            li
                button.user(data-username="user3") User 3
    h1 TODO List
